*~
*.BACKUP*
*.BASE*
*.LOCAL*
*.REMOTE*
log/*.log
*.orig
*#
.DS_Store
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.ps
*.snm
*.toc
*.vrb
*.xdy
*.tdo
*.pdf


